{% extends "layout.html" %}

{% block title %} Unlock {% endblock %}

{% block content %}
    {% if error != None %}
    <div data-alert class="alert-box alert radius"><b>Error:</b> {{ error }}</div>
    {% endif %}
    <br><br>
    <div class="text-center">
        Sorry, but the page you want to see is password protected.
    </div>
    <br><br><br>
    <form action="/password" method="post">
        {% if paste_id %}
            <input type="hidden" name="id" value="{{ paste_id }}">
        {% endif %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <div class="row">
            <div class="large-4 large-centered columns radius text-center">
                <input type="password" name="password" class="text-center" placeholder="Enter the password" />
                <button class="button radius success">Unlock site</a>
            </div>
        </div>
    </form>
{% endblock %}
