{% extends "layout.html" %}

{% block title %} Paste by {{ paste.author }} {% endblock %}

{% block toolbar %}
    <a href="/raw/{{ paste.id }}" class="button radius small right">Download raw</a>
{% endblock %}

{% block content %}
    <p class="text-center">
        Paste created by <b>{{ paste.author }}</b> on {{ paste.createdAt(True) }}<br>
        Double click on the content to select all.
    </p>
    <hr>
    <pre id="paste-content">{{ paste.formattedContent() }}</pre>
    <hr>
{% endblock %}
